    @model login.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header class="masthead">

        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <section class="formlogin" id="loginForm">

                        <h3 style="color: white;">Estas seguro de eliminar este registro?</h3>
                        <hr class="divider my-4" />
                        <div>
                            <h4 style="color:white;">Da clic en aceptar si es requerido</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt style="color:white;">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd style="color:white;">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {

                                @Html.AntiForgeryToken()

                                <div class="form-label-group">
                                    <input type="submit" value="Eliminar" class="inputsubmit form-group" /> |
                                </div>
                                <div class="inputsubmit form-group">
                                    @Html.ActionLink("Regresar a la lista", "Index")
                                </div>

                              }
                         </div>
</section>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <hr class=" my-4" />
                </div>
            </div>
            </div>  
        </header>