
@{
    ViewBag.Title = "ContactarAdm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <h2 class="text-white mt-0">Nuevas Eventos</h2>
                    <div class=" mt-3">
                        <div id="myCarousel" class="" data-ride="carousel">
                            <iframe width="800" height="600" src="https://apps.powerapps.com/play/6b8aa347-946c-4c80-b218-277425c03c83?tenantId=d8e658cb-faff-4c55-81f8-05ef0b9bd46c">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





